@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2f3640;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search {
  width: 12px;
  height: 12px;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #70e6f3;
  border-radius: 10px;
  overflow: hidden;
}

.cityInput {
  flex: 1;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
}

.search-icon {
  padding: 10px;
  height: 30px;
  cursor: pointer;
}

.search-icon img {
  margin-top: 9px;
}

.image {
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
}

.image img {
  width: 160px;
  height: 160px;
}

.temp,
.location,
.country {
  margin-top: 5px;
  font-size: 35px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.temp {
  font-weight: 500;
}

.location {
  font-weight: 400;
  color: #ffbc00;
  font-size: 40px;
}

.country {
  font-weight: 500;
  color: #888;
  font-size: 18px;
}

.cord {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.cord div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cord div span {
  font-size: 14px;
}

.humidity-percent,
.wind-percent,
.cord div span:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  padding-top: 5px;
}

.data-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element {
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
}

.text {
  font-size: 12px;
  color: #888;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #888;
}

.copyright span {
  color: #333;
}

.city-not-found,
.loading-message,
.error-message{
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
